$TTL 604800
@   IN  SOA ns1.{{ domain_name }}. admin.{{ domain_name }}. (
            2         ; Serial
       604800         ; Refresh
        86400         ; Retry
      2419200         ; Expire
       604800 )       ; Negative Cache TTL

@   IN  NS  ns1.{{ domain_name }}.
ns1 IN  A   10.1.0.11
www IN  A   10.1.0.5
ftp IN  A   10.1.0.6
mail IN  A   10.1.0.2
ssh IN  A   10.1.0.3
sql IN  A   10.1.0.4
ceo IN  A   10.1.0.7
hr  IN  A   10.1.0.8
smb IN  A   10.1.0.9
ldap IN A   10.1.0.10
